.spinner {
  display: block;
  margin: 2rem auto;
  width: min-content;
}

svg {
  width: 100px;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
